body{
    font-family: 'Bebas Neue', cursive;
}
.wrapper{
    padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
	margin: 0 auto;
}

.logo{
    margin-top: 30px;
    line-height: 20px;
    letter-spacing: 0.325em;
}

.logo a{
    text-decoration: none;
	color: #000000;
}

.nav{
    display: flex;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.nav>li{
    margin-left: 83px;
	position: relative;
}

.nav>li>a{
    text-decoration: none;
	color: #000000;
}

.navigation{
    display: flex;
	align-items: center;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 4px;
}